@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

:root { 
    --color1 : rgb(194, 164, 37);
    --color2 : rgb(0, 75, 133);
    --bgColor : rgb(255, 255, 255);
    --fontFamily : "Baloo 2", sans-serif;
    --boldFont : 800;
    --lightFont : 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fontFamily);
    background-color: var(--bgColor);
    /* background-image: linear-gradient(90deg, rgba(14,7,134,1) 0%, rgba(9,66,121,1) 19%, rgba(7,81,144,1) 33%, rgba(14,113,182,1) 100%) !important; */
}

.navbar {
    width: 100vw;
    height: 80px;
    border-bottom: 3px solid var(--color1);
    /* box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.274); */
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: block;
    margin-top: 0.5rem;
}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: var(--boldFont);
    width: 900px;
    color: var(--color1);
    margin-top: .5rem;
}

.navLinks .link {
    cursor: pointer;
}

.navbar i {
    color: var(--color1) !important;
    font-size: 20px;
    display: none !important;
}

.drpDiv {
    display: none;
}

#cancel {
    display: none !important;
}

@media (max-width: 600px) {
    .navLinks {
        display: none;
    }
    .navbar i {
        display: block !important;
        font-size: 25px !important;
    }
    #cancel {
        display: none !important;
    }
    .drpDiv {
        display: block;
        width: 100vw;
        background-color: var(--color1);
        color: white;
        font-weight: var(--boldFont);
        position: fixed;
        top: 5rem;
        display: grid;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        height: 0px;
        transition: .5s;
        transition-timing-function: cubic-bezier(0.68,-0.55,0.27,1.55);;
        overflow: hidden;
    }
}