@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root { 
    --color2 : #20b9eb;
    --color1 : rgb(255, 255, 255);
    --color3 : black;
    --fontFamily : "Poppins", sans-serif;
    --boldFont : 600;
    --lightFont : 400;
}

::-webkit-scrollbar {
    width: 15px;
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.233);
    /* border-radius: 2px; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s;
}

body {
    display: grid;
    overflow-x: hidden;
    font-family: var(--fontFamily);
    background-color: white;
    /* cursor: none; */
}

.custom-cursor, .custom-cursor-trail {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    /* mix-blend-mode: difference; Optional: makes cursor blend with background */
}

.custom-cursor {
    background: var(--color2);
    transition: transform 0.1s ease;
}

.custom-cursor-trail {
    background: rgba(0, 0, 0, 0.2);
    transition: transform 0.15s ease;
}


.custom-cursor.click {
    transform: translate(-50%, -50%) scale(0.8);
    transition: transform 0.15s ease;
}

.navbar {
    top: 0;
    width: 100vw;
    height: 100px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.247);
}

.logo {
    display: block;
    margin-top: 0.5rem;
}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: var(--boldFont);
    width: 900px;
    color: var(--color3);
    margin-top: .5rem;
}

.navLinks .link {
    cursor: pointer;
    position: relative;
    height: 40px;
}

.navbar i {
    color: var(--color2) !important;
    font-size: 20px;
    display: none !important;
}

.drpDiv {
    display: none;
    margin-top: 1rem;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.322);
}

#cancel {
    display: none !important;
}

.herosection {
    margin-top: 5rem;
    /* position: fixed; */
    width: 100vw;
    height: 100vh;
}

#splide1 {
    height: inherit;
    display: flex;
    align-items: start;
    justify-content: space-around;
    background-image: url(e4bg1.jpg);
    width: 100vw;
    background-size: cover;
}

#splide2 {
    height: inherit;
    display: flex;
    align-items: start;
    justify-content: space-around;
    background-image: url(e4bg2.jpg);
    width: 100vw;
    background-size: cover;
}

#splide3 {
    height: inherit;
    display: flex;
    align-items: start;
    justify-content: space-around;
    background-image: url(e4bg3.jpg);
    width: 100vw;
    background-size: cover;
}

.herotxt {
    height: 700px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.884) 0%, rgba(4, 24, 31, 0.5) 100%);
}

.herotxt .h_t2 {
    width: 1000px;
    height: fit-content;
    /* border: 1px solid white; */
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;
}

.h_t2 h1 {
    color: white;
    font-weight: var(--boldFont);
    font-size: calc(3.2vw + 3.2vh);
    
}

.h_t2 p {
    font-weight: 400;
    font-size: 18px;
    color: white;
    text-wrap: wrap;
}

.h_t2 button {
    padding: 15px;
    width: 150px;
    cursor: pointer;
    font-family: var(--fontFamily);
    font-weight: var(--boldFont);
    color: black;
    background-color: rgb(124, 229, 247);
    border: none;
    font-size: 15px;
    border-radius: 15px;
    transition: .2s;
    transition-timing-function: cubic-bezier(0.68,-0.55,0.27,1.55);
}

.h_t2 button:hover {
    box-shadow: 5px 5px 1px 1px rgba(255, 255, 255, 0.411);
}

.mainSection {
    display: grid;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100vw;
    background-color: white;
    z-index: 10;
    margin-bottom: 3rem;
}

.headingTxt {
    margin-top: 3rem;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color2);
    font-size: 20px;
}

.m2 {
    width: 100vw;
    height: fit-content;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 3rem;
    padding-bottom: 10rem;
}

.m2 .servicesDiv {
    width: 400px;
    height: 300px;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(3, 59, 78, 0.164);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    transition: .5;
    padding-top: 2rem;
    position: relative;
    cursor: pointer;
}

.m2 .servicesDiv::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: var(--color2);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
}

.servicesDiv .servicesTxt {
    /* border: 1px solid; */
    width: 300px;
    font-weight: 500;
    text-align: center;
}

.servicesDiv .servicesTxt h1 {
    font-size: 18px;
}

.servicesDiv .servicesImg {
    width: 120px;
    height: 120px;
    border-radius: 30%;
    /* border: 1px solid; */
    position: relative;
    top: -80px;
    background-color: white;
    margin-bottom: -5rem;
}

.servicesDiv:hover {
    .servicesImg {
        scale: 1.5;
        border-radius: 0;
        box-shadow: 0px 0px 10px 1px rgba(3, 59, 78, 0.164);
    }
}

.no1 {
    background-image: url(Aged_care.jpg);
    background-size: cover;
}

.no2 {
    background-image: url(community.jpg);
    background-size: cover;
}

.no3 {
    background-image: url(mental_care.jpg);
    background-size: cover;
}

.no4 {
    background-image: url(disability_care.jpg);
    background-size: cover;
}

.no5 {
    background-image: url(home_care.jpg);
    background-size: cover;
}

.servicesDiv button { 
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(124, 229, 247);
    transition-timing-function: cubic-bezier(0.68,-0.55,0.27,1.55);
    cursor: pointer;
    font-weight: 550;
    font-family: var(--fontFamily);
}

.servicesDiv button:hover {
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.411);
}

#centerDiv {
    position: relative;
    /* height: 500px; */
}

header {
    justify-content: start;
    padding-left: 2rem;
    z-index: 15;
}

header h1 {
    font-size: calc(1.5vw + 1.5vh);
    font-weight: 500;
    color: var(--color2);
}

.services__we__provide {
    width: 100vw;
    height: auto;
    display: grid;
    gap: 2rem;
}

.service__div {
    width: inherit;
    /* border: inherit; */
    height: fit-content;
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: auto auto;
    margin-bottom: 3rem;
    margin-top: 3rem;
    gap: 3rem;
}


.service__div .sDiv {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: var(--fontFamily);
    font-weight: 300;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.199);
    transition: transform 0.3s, box-shadow 0.3s;
}

.service__div .sDiv:hover {
    img {
        transform: scale(1.1) translateY(-10px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    }
}

.services__we__provide .sDiv img {
    border-radius: 20px;
}

.services__we__provide .sCta {
    padding: 15px;
    width: 200px;
    margin: auto;
    border-radius: 10px;
    border: none;
    background-color: rgb(124, 229, 247);
    font-weight: bold !important;
    font-family: var(--fontFamily);
    cursor: pointer;
    margin-bottom: 5rem;
}

.services__we__provide .sCta:hover {
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.411);
}

.aboutUs {
    margin-top: 3rem;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(abstract-timekeeper.svg);
    background-size: cover;
}

.aboutUs .aboutUsDiv {
    border-radius: 10px;
    width: 90vw;
    height: fit-content;
    display: flex;
    align-items: start;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.925);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.308);
}

.aboutUsDiv .abtTxt {
    height: fit-content;
    width: 35vw;
    padding-left: 2rem;
}

.abtTxt h1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 3rem;
}

.abtTxt p { 
    line-height: 2rem;
}

.abtCta {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
    background-color: #7ce5f7;
    font-weight: var(--boldFont);
}

.aboutUsDiv .abtImg {
    height: 90vh;
    width: 50vw;
    background-image: url(aboutUs.jpg);
    background-size: cover;
    display: block;
}

.contactUs {
    margin-top: 8rem;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactUs .contactUsDiv {
    height: 300px;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #47bbcf;
    color: white;
    border-radius: 20px;
    box-shadow: inset 0 0 10px rgb(0, 0, 0);
}

.contactUsDiv h1 {
    text-transform: capitalize;
    font-size: calc(1.8vw + 1.8vh);
    font-weight: 400;
}

.contactUsDiv p {
    font-size: 20px;
    text-transform: capitalize;
    font-size: calc(1vw + 1vh);
}

.contactUsDiv button {
    padding: 15px;
    border: none;
    width: 200px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--color2);
    font-weight: bolder;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.24);
    color: white !important;
    transition: .3s;
}

.contactUsDiv button:hover {
    scale: 1.05;
}

footer {
    height: fit-content;
    background-image: url(pattern.svg);
    /* background-color: var(--color2); */
    background-size: cover; 
    /* color: white; */
}

footer .footerContext {
    padding-top: 6rem;
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: start;
    justify-content: space-around;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0);
}

.footerContext .services {
    width: 400px;
    height: fit-content;
    display: grid;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem 0 0rem 0;
}

.footerContext .contact {
    width: 400px;
    height: fit-content;
    /* border: 1px solid; */
    display: grid;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem 0 0rem 0;
}

.footerContext .contact .fs {
    display: grid;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    gap: 2rem;
    /* color: white; */
}

.contact .links {
    /* padding: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact .links a {
    padding: 10px;
    display: block;
    width: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-decoration: none;
    color: var(--color2) !important;
}

.footerContext .services .fs {
    display: grid;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    gap: 2rem;
}

.footerContext h2{
    font-weight: 600;
    /* color: var(--color1); */
}

.services .fs a{
    color: black;
    text-decoration: none;
    /* color: var(--color1); */
}


@media (max-width: 1024px) {
    .custom-cursor {
        display: none;
    }
    .custom-cursor-trail {
        display: none;
    }
    .herosection {
        height: 700px;
    }
    .herosection section {
        height: 600px;
    }
    .herotxt {
        padding-top: 1rem;
        align-items: start;
        height: 600px;
    }
    .herotxt .h_t2 {
        /* border: 1px solid black; */
        width: 100vw;
        height: 420px;
        align-items: center;
        justify-content: center;
        /* background-color: rgba(255, 255, 255, 0.26); */
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .h_t2 p {
        text-align: center;
    }
    header {
        margin-top: 2rem;
    }
    .provide__div {
        position: sticky;
        top: 120px;
    }
    .provide__div .stickDiv {
        transform: rotate(0deg) !important;
        /* border: 1px solid; */
    }
    .services__we__provide .service__div {
        height: fit-content;
        gap: 3rem;
    }
    .service__div .sDiv {
        width: 40vw;
    }
    .aboutUs .aboutUsDiv {
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: none;
    }
    .aboutUs {
        height: fit-content;
    }
    .aboutUsDiv .abtTxt {
        width: inherit;
        height: fit-content;   
    }
    .abtTxt p {
        line-height: 2rem;
    }
    .aboutUsDiv .abtImg {
        width: 50vw;
        height: 50vh;
        display: block;
    }
    .contactUs .contactUsDiv {
        width: 95vw;
    }
    footer .footerContext {
        display: grid;
        align-items: center;
        justify-content: space-around;
        grid-template-columns: auto auto;
        height: fit-content;
        padding-bottom: 4rem;
    }
    .footerContext .services {
        width: 30vw;
    }
    .footerContext .contact {
        width: 30vw;
    }
}

@media (max-width: 600px) {
    .herosection {
        height: 500px;
    }
    .navLinks {
        display: none;
    }
    .navbar i {
        display: block !important;
        font-size: 25px !important;
    }
    #cancel {
        display: none !important;
    }
    .drpDiv {
        display: block;
        width: 100vw;
        background-color: white;
        color: black;
        font-weight: var(--boldFont);
        position: fixed;
        top: 5rem;
        display: grid;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        height: 0px;
        transition: .5s;
        transition-timing-function: cubic-bezier(0.68,-0.55,0.27,1.55);
        overflow: hidden;
        z-index: 888;
    }
    .herosection section {
        height: 0px;
    }
    .herotxt {
        padding-top: 1rem;
        align-items: start;
        height: 500px;
    }
    header {
        margin-top: 5rem;
    }
    main {
        padding-left: 2.3rem;
    }
    main .servicesDiv{
        width: 80vw;
    }
    .servicesDiv .servicesTxt {
        width: 70vw;
    }   
    .provide__div {
        position: static;
        top: 120px;
        padding-top: 5rem;
    }
    .provide__div h1 {
        margin-bottom: 2rem;
        position: static
    }
    .provide__div .stickDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0rem;
        /* height: 800px; */
        box-shadow: none;
        border: none;
        margin-bottom: 3rem;
    }
    .stickDiv .sticky {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw !important;
    }
    .sticky img {
        width: 300px;
        border-radius: 20px;
    }
    #Aimg {
        background-image: url(aboutUs-rBg.png);
        height: 500px;
    }
    .aim .aboutImg{
        background-image: url(Aim-rbg.png);
        height: 500px;
        width: 100vw;
    }
    .value .aboutImg{
        background-image: url(values-rbg.png);
        height: 500px;
        width: 100vw;
    }
    .services__we__provide .service__div {
        padding: 2rem 0 2rem 0rem;
        grid-template-columns: auto;
        height: fit-content;
        gap: 3rem;
    }

    .service__div .sDiv {
        width: 90vw;
        height: 400px;
    }
    .service__div .sDiv img {
        width: 170px;
    }

    .aboutUsDiv {
        padding-bottom: 2rem;
    }

    .aboutUsDiv .abtImg {
        display: none;
    }
    .contactUs {
        margin-top: 0rem;
    }
    .contactUs .contactUsDiv {
        height: 200px;
        width: 98vw;
        border-radius: 0;
    }
    .contactUsDiv h1 {
        font-size: calc(1.5vw + 1.5vh);
    }
    footer .footerContext {
        grid-template-columns: auto;
    }
    .footerContext .services {
        width: 100vw;
        display: flex;
        align-items: start;
        justify-content: space-around;
        flex-direction: column;
        padding-left: 3rem;
    }
    .footerContext .contact {
        width: 100vw;
        display: flex;
        align-items: start;
        justify-content: space-around;
        flex-direction: column;
        padding-left: 3rem;
    }
    .contact .links {
        width: 70vw;
    }
}