@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root { 
    --color2 : rgb(32, 185, 235);
    --txtColor : rgb(255, 255, 255);
    --fontFamily : "Poppins", sans-serif;
    --boldFont : 600;
    --lightFont : 400;
}

::-webkit-scrollbar {
    width: 15px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.233);
    /* border-radius: 2px; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s;
}

body {
    display: grid;
    overflow-x: hidden;
    font-family: var(--fontFamily);
    background-color: white;
}

.navbar {
    top: 0;
    width: 100vw;
    height: 100px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.247);
}

.logo {
    display: block;
    margin-top: 0.5rem;
}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: var(--boldFont);
    width: 900px;
    color: var(--color1);
    margin-top: .5rem;
}

.navLinks .link {
    cursor: pointer;
    position: relative;
    height: 40px;
}

.link:hover {
    .slideIn {
        width: 56px;
        transition: .3s;
        transition-timing-function: cubic-bezier(0.68,-0.55,0.27,1.55);
    }
}

.link:hover {
    .slideIn2 {
        width: 85px;
        transition: .3s;
        transition-timing-function: cubic-bezier(0.68,-0.55,0.27,1.55);
    }
}

.link:hover {
    .slideIn3 {
        width: 68px;
        transition: .3s;
        transition-timing-function: cubic-bezier(0.68,-0.55,0.27,1.55);
    }
}

.link:hover {
    .slideIn4 {
        width: 105px;
        transition: .3s;
        transition-timing-function: cubic-bezier(0.68,-0.55,0.27,1.55);
    }
}

.navbar i {
    color: var(--color1) !important;
    font-size: 20px;
    display: none !important;
}

.drpDiv {
    display: none;
}

#cancel {
    display: none !important;
}

.herosection {
    margin-top: 5rem;
    position: relative;
    width: 100vw;
    height: 100vh;
}

#splide1 {
    height: inherit;
    display: flex;
    align-items: start;
    justify-content: space-around;
    background-image: url(e4bg1.jpg);
    width: 100vw;
    background-size: cover;
}

#splide2 {
    height: inherit;
    display: flex;
    align-items: start;
    justify-content: space-around;
    background-image: url(e4bg2.jpg);
    width: 100vw;
    background-size: cover;
}

#splide3 {
    height: inherit;
    display: flex;
    align-items: start;
    justify-content: space-around;
    background-image: url(e4bg3.jpg);
    width: 100vw;
    background-size: cover;
}

.herotxt {
    height: 700px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(32, 184, 235, 0.521) 0%, rgba(32, 184, 235, 0.699) 100%);
}

/* .herotxt h1 {

    
    color: black;
    font-weight: var(--boldFont);
    font-size: 60px;
    text-shadow: 0px 3px 1px var(--color1);
    margin-bottom: -15rem;
}

.herotxt p {
    font-weight: var(--txtColor);
    font-size: 19px;
    color: var(--color1);
}

.herotxt .cta {
    position: absolute;
    bottom: 0;
    left: 0;
}



.cta button {
    padding: 15px;
    width: 150px;
    cursor: pointer;
    font-family: var(--fontFamily);
    font-weight: var(--boldFont);
    color: white;
    background-color: var(--color2);
    border: none;
    font-size: 15px;
    border-radius: 20px;
    box-shadow: 3px 3px 1px 1px var(--color1);
}

.cta button:hover {
    opacity: .95;
} */

.herotxt .h_t2 {
    width: 1000px;
    height: fit-content;
    /* border: 1px solid black; */
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;
}

.h_t2 h1 {
    color: black;
    font-weight: var(--boldFont);
    font-size: calc(3.5vw + 3.5vh);
}

.h_t2 p {
    font-weight: 500;
    font-size: 18px;
    color: var(--color1);
    text-wrap: wrap;
}

.h_t2 button {
    padding: 15px;
    width: 150px;
    cursor: pointer;
    font-family: var(--fontFamily);
    font-weight: var(--boldFont);
    color: black;
    background-color: rgb(124, 229, 247);
    border: none;
    font-size: 15px;
    border-radius: 15px;
    transition: .2s;
    transition-timing-function: cubic-bezier(0.68,-0.55,0.27,1.55);
}

.h_t2 button:hover {
    box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, 0.411);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

header h1 {
    color: var(--color2);
}

main {
    width: 100vw;
    /* border: 1px solid; */
    height: fit-content;
    background-color: #ffff;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* grid-template-columns: auto auto; */
    gap: 4.5rem;
    padding: 3rem;
    position: relative;
}

main .servicesDiv {
    width: 400px;
    height: 300px;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(3, 59, 78, 0.164);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    transition: .5;
    padding-top: 2rem;
    position: relative;
    cursor: pointer;
}

main .servicesDiv::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: var(--color2);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
}

.servicesDiv .servicesTxt {
    /* border: 1px solid; */
    width: 300px;
    font-weight: 500;
    text-align: center;
}

.servicesDiv .servicesTxt h1 {
    font-size: 18px;
}

.servicesDiv .servicesImg {
    width: 120px;
    height: 120px;
    border-radius: 30%;
    /* border: 1px solid; */
    position: relative;
    top: -80px;
    background-color: white;
    margin-bottom: -5rem;
}

.servicesDiv:hover {
    .servicesImg {
        scale: 1.5;
        border-radius: 0;
        box-shadow: 0px 0px 10px 1px rgba(3, 59, 78, 0.164);
    }
}

.no1 {
    background-image: url(Aged_care.jpg);
    background-size: cover;
}

.no2 {
    background-image: url(community.jpg);
    background-size: cover;
}

.no3 {
    background-image: url(mental_care.jpg);
    background-size: cover;
}

.no4 {
    background-image: url(disability_care.jpg);
    background-size: cover;
}

.no5 {
    background-image: url(home_care.jpg);
    background-size: cover;
}

.servicesDiv button { 
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(124, 229, 247);
    transition-timing-function: cubic-bezier(0.68,-0.55,0.27,1.55);
    cursor: pointer;
    font-weight: 550;
    font-family: var(--fontFamily);
}

.servicesDiv button:hover {
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.411);
}

#centerDiv {
    position: relative;
    /* height: 500px; */
}

/* #centerDiv .servicesTxt {
    display: none;
} */

@media (max-width: 1024px) {
    .herosection {
        height: 700px;
    }
    .herosection section {
        height: 600px;
    }
    .herotxt {
        padding-top: 1rem;
        align-items: start;
        height: 600px;
    }
    .herotxt .h_t2 {
        /* border: 1px solid black; */
        width: 100vw;
        height: 420px;
        align-items: center;
        justify-content: center;
        /* background-color: rgba(255, 255, 255, 0.26); */
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .h_t2 p {
        text-align: center;
    }
    header {
        margin-top: 2rem;
    }
}

@media (max-width: 600px) {
    .herosection {
        height: 500px;
    }
    .navLinks {
        display: none;
    }
    .navbar i {
        display: block !important;
        font-size: 25px !important;
    }
    #cancel {
        display: none !important;
    }
    .drpDiv {
        display: block;
        width: 100vw;
        background-color: white;
        color: black;
        font-weight: var(--boldFont);
        position: fixed;
        top: 5rem;
        display: grid;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        height: 0px;
        transition: .5s;
        transition-timing-function: cubic-bezier(0.68,-0.55,0.27,1.55);
        overflow: hidden;
        z-index: 888;
    }
    .herosection section {
        height: 0px;
    }
    .herotxt {
        padding-top: 1rem;
        align-items: start;
        height: 500px;
    }
    header {
        margin-top: 5rem;
    }
    main {
        padding-left: 2.3rem;
    }
    main .servicesDiv{
        width: 80vw;
    }
    .servicesDiv .servicesTxt {
        width: 70vw;
    }
}